<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="well">
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <div class="field">
              <%= f.label :name %><br />
              <%= f.email_field :name, autofocus: true, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.label :password %>
              <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control'%>
            </div>
          </div>

          <div class="form-group">
            <div class="field">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>

          <div class="form-group">
            <div class="actions">
              <%= f.submit "Sign up", class: 'btn btn-primary' %>
            </div>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
