<div class="col-md-6">
  <%= form_for(@pin) do |f| %>
    <% if @pin.errors.any? %>
      <div id="error_explanation">
        <h4 class="bg-danger"><%= pluralize(@pin.errors.count, "error") %> prohibited this pin from being saved:</h4>

        <ul class="bg-warning">
        <% @pin.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <div class="field">
        <%= f.label :photo, 'Imagen' %><br>
        <%= f.text_field :photo, class: 'form-control', placeholder: 'URL de la imagen' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :title, 'Titulo' %><br>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Nombre del pin' %>
      </div>
    </div>

    <div class="form-group">
      <div class="field">
        <%= f.label :description, 'Descripcion' %><br>
        <%= f.text_area :description, class: 'form-control', rows: '10' %>
      </div>
    </div>

    <div class="form-group">
      <div class="actions">
        <%= f.submit 'Crear', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>
