.container
  .page-header
    h1
      = t('listing_pins')
      small
        = t('fav_pins')
    - if user_signed_in?
        = link_to t('new_pin'), new_pin_path, class: 'btn btn-success'
  .row
    - @pins.each do |pin|
      .col-md-3
        .thumbnail
          = image_tag pin.photo, class: 'img-responsive'
          .caption
            h4 = pin.title
            p = pin.description
            .buttons-group
              = link_to t('show'), pin, class: 'btn btn-primary'
              - if user_signed_in?
                =link_to t('edit'), edit_pin_path(pin), class: 'btn btn-warning'
                = link_to t('destroy'), pin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

