p#notice = notice

p
  strong Photo:
  '
  = image_tag @pin.photo, style: 'width:200px'
p
  strong Title:
  '
  = @pin.title
p
  strong Description:
  '
  = @pin.description

p
  = link_to 'Edit', edit_pin_path(@pin)
  '  |
  = link_to 'Back', pins_path
