<% content_for :title do %>
  Pagina de Contacto
<% end %>

<div class="jumbotron">
  <div class="container">
  	<h1><%= t('contact_title') %></h1>
  	<p><a class="btn btn-primary btn-lg" href="#" role="button"><span class="glyphicon glyphicon-pushpin"></span>Learn more</a></p>
  </div>
</div>

<div class="container">
	<div class="row">
	  <div class="col-md-6">
		<div class="page-header">
		  <h2>Example page header <small>Subtext for header</small></h2>
		</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<a href="" title="Un Link">Un Link <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span></a>
	  </div>
	  <div class="col-md-6">
	  	<div class="page-header">
	  		<h2>Subtitulo <small>Subtext for header<span class="label label-default">New</span></small></h2>
	  	</div>
	  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	  	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	  	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	  	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	  	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	  	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	  </div>
	</div>
</div>